/* Coded with love by Mutiullah Samim */
@import url('https://fonts.googleapis.com/css?family=Montserrat:Montserrat:wght@100;200;300;400;500;600&display=swap');
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    /* background: #e3f2fd !important; */
    background: #A8DADC !important;
}
#demo1{
    position: absolute;
    height: 70px;
    font-weight: 600;
    font-size: 200%;
    top: -130px;
    left: 47%;
    color: #E63946;
    padding: 10px;
    text-align: center;

}
.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #F1FAEE;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #457B9D;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #F1FAEE;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #E63946 !important;
    color:#F1FAEE !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #E63946!important;
    color: #F1FAEE !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #E63946 !important;
}