@import url('https://fonts.googleapis.com/css?family=Montserrat:Montserrat:wght@100;200;300;400;500;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}
th {
    background-color:  #457B9D;
    color: #F1FAEE;
    font-weight: 200;
}
.form-group{
    margin-bottom: 0.5rem;
}
.btnblue{
    background-color: #457B9D;
    color: whitesmoke;
}
.btnhome{
    background-color: #A8DADC;
    color: whitesmoke;"
}
.btn-logout{
    background-color: #E63946;
    color: whitesmoke;
}
th, td {
    padding: 0.5em 1em;
    font-weight: 100;
}
thead tr:first-child th:first-child,
tbody:first-child tr:first-child td:first-child {
    border-top-left-radius:  1em;
}
thead tr:first-child th:last-child,
tbody:first-child tr:first-child td:last-child {
    border-top-right-radius: 1em;
}

thead + tbody tr:last-child td:first-child,
tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 1em;
}
thead + tbody tr:last-child td:last-child,
tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 1em;
}

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

#RepairZone, #OwnerZone, #PropertyZone{
    font-weight: bold;

}

/*
 * Navbar
 */
.navbar{
    background-color: #F1FAEE;
    height: 3%;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 2%;
    padding-left: 2%;
}
.navbar-brand {
    box-shadow: none;
    background-color: transparent;
    margin-right: 0%;
}
a.navbar-brand{
    margin-left: -0.5rem;

}


/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }