/*@import url('https://fonts.googleapis.com/css?family=Montserrat:Montserrat:wght@100;200;300;400;500;600&display=swap');*/

body {
    /*font-family: 'Montserrat', sans-serif;*/
    background-color: aqua;
}
th {
    background-color: #e3f2fd;
    color: pink;
    font-weight: 200;
}
th, td {
    padding: 0.5em 1em;
    font-weight: 100;
}
thead tr:first-child th:first-child,
tbody:first-child tr:first-child td:first-child {
    border-top-left-radius:  1em;
}
thead tr:first-child th:last-child,
tbody:first-child tr:first-child td:last-child {
    border-top-right-radius: 1em;
}

thead + tbody tr:last-child td:first-child,
tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 1em;
}
thead + tbody tr:last-child td:last-child,
tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 1em;
}
